<div id="title">
 Kangaroo Food Delivery
</div>

<link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase:600" rel="stylesheet">

<div id="container">
     
  <h1>&bull; About Us &bull;</h1>

  <div class="underline">
  </div>
  <div id="text">
    Kangaroo helps you find and order food from wherever you are. How it works: you type in an address, we tell you the restaurants that deliver to that locale as well as showing you droves of pickup restaurants near you. Want to be more specific? Search by cuisine, restaurant name or menu item. We'll filter your results accordingly. When you find what you're looking for, you can place your order online or by phone, free of charge. Oh, and we also give you access to reviews, coupons, special deals and a 24/7 customer care team that tracks each order and makes sure you get exactly what you want.
     
       </div>
  
  
 
</div>