<div class="row">
    <div class="column">
      <div class="card">
        <img src="img1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Erich Morris</h2>
          <p class="title"> Junior Developer </p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>https://github.com/ErichMorris</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="img2.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Pooja Dhiman</h2>
          <p class="title"> Junior Developer </p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>https://github.com/pooja197</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="img3.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Josh Proffitt</h2>
          <p class="title"> Junior Developer </p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>https://github.com/JoshuaMProffitt</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>

      <div class="w3-panel w3-pale-green">
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      </div>

      
    </div>
  </div>