<div class = "indexTitleContainer">
  <h1>Kangaroo!</h1>
</div>
<div class = "indexBodyContainer">
  <p>Welcome to Kangaroo Food Delivery! <br>
    Kangaroo is a service that allows you to order food from any
    restaurant that you select! First, you will need to enter your 
    information so we know where to deliver! Next, select your favorite restaurant, then
    select your favorite menu item from that restaurant to complete your order!
  </p>
</div>
<a mat-raised-button color="primary" routerLink="/userCustomer">Begin Order!</a>