<mat-toolbar color="primary">
  <span>Kangaroo!</span>
  <button mat-raised-button class="nav-btn" routerLink="/restaurants">Restaurant</button>
  <button mat-raised-button class="nav-btn" routerLink="/menuItems">MenuItem</button>
  <button mat-raised-button class="nav-btn" routerLink="/orders">Orders</button>
  <button mat-raised-button class="nav-btn" routerLink="/customers">Customer</button>

  <button mat-raised-button class="nav-btn" routerLink="/about">About</button>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button class="nav-btn" routerLink="/register">Register</button>
  <button mat-raised-button class="nav-btn" routerLink="/login">Login </button>
</mat-toolbar>