<mat-toolbar color="primary">

  <div class="dum">
      <button *ngIf="isLoggedIn" mat-button routerLink = "/home">Kangaroo!</button>
  </div>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <button *ngIf="isAdmin" mat-stroked-button class="nav-btn" routerLink="/restaurants">Restaurant</button>
  <button *ngIf="isAdmin" mat-stroked-button class="nav-btn" routerLink="/menuItems">MenuItem</button>
  <button *ngIf="isAdmin" mat-stroked-button class="nav-btn" routerLink="/orders">Orders</button>
  <button *ngIf="isAdmin" mat-stroked-button class="nav-btn" routerLink="/customers">Customer</button>



  <button mat-stroked-button class="nav-btn" routerLink="/about">About</button>
  <button mat-stroked-button class="nav-btn" routerLink="/contact">Contact</button>
  <span class="example-fill-remaining-space"></span>
  <button *ngIf="!isLoggedIn" mat-stroked-button class="nav-btn" routerLink="/register">Register</button>
  <button *ngIf="!isLoggedIn" mat-stroked-button class="nav-btn" routerLink="/login">Login </button>
  <button *ngIf="isLoggedIn" mat-stroked-button (click)="onLogOut()" routerLink="/login">
    <span>Logout</span>
  </button>
 

</mat-toolbar>
