<mat-toolbar color="primary">

  <div class="dum">
      <button routerLink = "/home">Kangaroo!</button>
  </div>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Shadows+Into+Light" rel="stylesheet">
  <button mat-stroked-button class="nav-btn" routerLink="/restaurants">Restaurant</button>
  <button mat-stroked-button class="nav-btn" routerLink="/menuItems">MenuItem</button>
  <button mat-stroked-button class="nav-btn" routerLink="/orders">Orders</button>
  <button mat-stroked-button class="nav-btn" routerLink="/customers">Customer</button>



  <button mat-stroked-button class="nav-btn" routerLink="/">About</button>
  <span class="example-fill-remaining-space"></span>
  <button mat-stroked-button class="nav-btn" routerLink="/register">Register</button>
  <button mat-stroked-button class="nav-btn" routerLink="/login">Login </button>
 

</mat-toolbar>
