.example-fill-remaining-space {
    flex: 1 1 auto;
}
.dum{
    font-family: 'Special Elite', cursive;
}
.nav-btn {
    margin-right: 0.5em;
background-color:orangered;
box-shadow: greenyellow;
font-family: 'Shadows Into Light', cursive;
}
.mat-toolbar{
   background-color: silver;
}
