<h1>Create a Order.</h1>
<hr>
​
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="noteForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Comments" formControlName="Comments" type="Comments" required/>
      </mat-form-field>
    </div>

    <div>
        <mat-form-field>
          <input matInput placeholder="MenuItemName" formControlName="MenuItemName" type="MenuItemName" required/>
        </mat-form-field>
      </div>

      <div>
          <mat-form-field>
            <input matInput placeholder="MenuItemPrice" formControlName="MenuItemPrice" type="MenuItemPrice" required/>
          </mat-form-field>
        </div> 
        
        <div>
            <mat-form-field>
              <input matInput placeholder="CustomerName" formControlName="CustomerName" type="CustomerName" required/>
            </mat-form-field>
          </div>
   
          <div>
              <mat-form-field>
                <input matInput placeholder="CustomerAddress" formControlName="CustomerAddress" type="CustomerAddress" required/>
              </mat-form-field>
            </div>

  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Order</button>
</form>
​
<a mat-button routerLink="/notes">Back to List</a>