<h1>Edit a Menu Item.</h1>
<hr>

<div *ngIf="menuItem">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editMenuItemForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="MenuItemId" formControlName="MenuItemId" type="MenuItemId" required [value]="menuItem.MenuItemId" />
        </mat-form-field>
      </div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="RestaurantId" formControlName="RestaurantId" type="RestaurantId" required [value]="menuItem.RestaurantId" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="MenuItemName" formControlName="MenuItemName" type="MenuItemName" required [value]="menuItem.MenuItemName" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="Name" type="Name" required [value]="menuItem.Name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="MenuItemPrice" formControlName="MenuItemPrice" type="MenuItemPrice" required [value]="menuItem.MenuItemPrice" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="MenuItemDescription" formControlName="MenuItemDescription" type="MenuItemDescription" required [value]="menuItem.MenuItemDescription" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="MenuItemPicture" formControlName="MenuItemPicture" type="MenuItemPicture" required [value]="menuItem.MenuItemPicture" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
  </form>
</div>


<a mat-button routerLink="/menuItems">Back to List</a>