/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(src\app\Assets\white-2.jpg.optimal.jpg)


}

.indexTitleContainer {
    background-color:silver;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20%;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}

.indexBodyContainer {
    background-color:silver;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}
.mat-raised-button.mat-primary {
    background-color: orangered;
}
.mat-table.mat-table{
background-color: silver;
}